<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horus</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <%- include('navbar.ejs') %>
        <% if(info && info.length) { %>
            <div class="alert alert-info alert-dismissible fade show my-alert" style="margin-left: 4vh;" role="alert">
                <%= info %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <main class="home-main-div">
                    <div class="container">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#myModal">
                            Map
                        </button>
                    </div>
                    <div id="comp-card-container">
                        <% for(let complaint of complaints) { %>
                            <div class="card mb-0 comp-card">
                                <div class="row">
                                    <div>
                                        <img src="https://www.cityworks.com/wp-content/uploads/2020/01/pot-hole-blog.gif"
                                            class="img-fluid rounded-start card-image" alt="...">
                                    </div>
                                    <div>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= complaint.title %>
                                            </h5>
                                            <p class="card-text">
                                                <%= complaint.description %>
                                            </p>
                                            <p class="card-text"><small class="text-muted">
                                                    <%= complaint.author.username%>
                                                </small></p>
                                            <a href="/complaints/<%= complaint._id %>" class="btn btn-primary">Learn
                                                More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>

                </main>
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Legend</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="map-container">
                                    <div id="map"
                                        style="width: 90vw; height: 80vh; border-radius: 0.125%;box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px ;">
                                    </div>
                                    <script>
                                        const mapboxToken = "<%= mapboxToken %>"
                                        const complaints = <%- JSON.stringify(complaints) %>;
                                        let userId = -1
                                            <% if (currentUser != null) { %>
                                                userId = <%- JSON.stringify(currentUser._id) %> 
                                        <% } %>
                                    </script>
                                    <script src="../scripts/mapboxConfig.js"></script>
                                    <script>
                                        map.on('load', () => {
                                            for (let complaint of complaints) {
                                                const deleteHtml = (userId == complaint.author._id) ?
                                                    `<form action="/${complaint._id}/delete?_method=DELETE" method=POST>
                                            <button class="btn btn-danger btn-sm" style="padding: 0.5px;">Delete</button>  
                                        </form>` : ``

                                                const linkHtml = `<a href="/complaints/${complaint._id}">More Info</a>`
                                                let markerPopup = new mapboxgl.Popup({ offset: 25 })
                                                    .setHTML(`<b>${complaint.title} </b><br> <small class="text-muted">by ${complaint.author.username}</small> <br> 
                                                Details: ${complaint.description.substr(0, 30)}...<br>`
                                                        + linkHtml)
                                                const marker = new mapboxgl.Marker((userId == complaint.author._id) ? { color: "red" } : { color: "#5423F6" })
                                                    .setLngLat([complaint.longitude, complaint.latitude])
                                                    .setPopup(markerPopup)
                                                    .addTo(map)

                                            }

                                            map.resize();

                                        })
                                        map.on('click', function () {
                                            map.resize()
                                        })

                                    </script>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                </div>

</body>

</html>